/.emacs.chemacs2
/.emacs.d
/.emacs.doom
/.emacs.doom.vanilla
/.emacs.rational
/.oh-my-zsh
/.tmuxifier
/Common/nvim/plugin
/Common/psd/.psd.conf
/Common/nushell/history.txt
/Common/rational-emacs/etc
/Common/rational-emacs/var
.DS_Store
*flycheck_tmp_*
*~
.*~
\#*
.\#*
