/.emacs.d
/.emacs.doom/
/.emacs.prelude/
/.oh-my-zsh/
/.tmuxifier/
/Common/nvim/plugin/
/Common/psd/.psd.conf
/Common/nushell/history.txt
/Common/.bin/panama.sh
.DS_Store
*flycheck_tmp_*
*~
.*~
\#*
.\#*
