[Unit]
Description=Emacs server daemon
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/emacs --init-directory=/home/jvillasante/Workspace/Public/dotfiles/Common/emacs/personal/ --fg-daemon
ExecStop=/usr/bin/emacsclient --eval '(save-buffers-kill-emacs)'
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target
