[Unit]
Description=Emacs server daemon
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/emacs --init-directory=/home/jvillasante/Workspace/Public/dotfiles/Common/emacs/emacs.d/ --fg-daemon
ExecStop=/usr/local/bin/emacsclient --eval '(progn (setq confirm-kill-emacs nil) (save-buffers-kill-emacs))'
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
