root = true

[*]
indent_style = space            # Use spaces for indentation
indent_size = 4                 # Each indent should contain 4 spaces
end_of_line = lf                # Use Unix line endings
charset = utf-8                 # The files are utf-8 encoded
trim_trailing_whitespace = true # No whitespace at the end of line
insert_final_newline = true     # A file must end with an empty line - this is good for version control systems

[{Makefile,**.mk}]
indent_style = tab # Use tabs for indentation (Makefiles require tabs)
