BasedOnStyle: LLVM

---
Language: Cpp
Standard: Cpp11

AlwaysBreakTemplateDeclarations: true
PointerAlignment: Left

# Indent with 4 spaces
IndentWidth: 4
AccessModifierOffset: -4

# Disable formatting options which may break tests.
SortIncludes: false
ReflowComments: false
---
